autopep8
cython
dash
ghp-import
ipython
ipywidgets
jupyter_server
jupyter-book==0.12.3
jupyterhub
jupyterlab
jupyterlab_widgets
mplfinance
mypy
nbgitpuller
nodejs
notebook
pandas
plotly
pycurl
pytest
scikit-learn
seaborn
statsmodels
ta-lib
tornado
typing_extensions
