autopep8
cython
dash
ghp-import
ipython
ipywidgets
jupyter_server
jupyterhub
jupyterlab
jupyterlab_widgets
mplfinance
mypy
nbgitpuller
nodejs
notebook
pandas
plotly
pycurl
pytest
scikit-learn
seaborn
statsmodels
ta-lib
tornado
types-python-dateutil
types-requests
types-urllib3
typing_extensions
